<html>
    <head>
        <title>電子政府きふわらべ</title>
    </head>
    <body>
        <img src="static/img/20211102shogi18.png" /><br />
        <form method="POST" action="/vote">
            あなたの名前（表示されます 1文字以上20文字以内）<br />
            <input
                type="text"
                name="yourName"
                maxlength="20"
                value="{{yourName}}"
            /><br />
            <br />
            適当な言葉（平文でHTMLソースとかで見れます。他人と被らなさそうなキーワード
            1文字以上20文字以内）<br />
            <input
                type="text"
                name="secret"
                maxlength="20"
                value="{{secret}}"
            /><br />
            <br />
            <input type="submit" value="Enter!" /><br />
        </form>
    </body>
</html>
